<body class="view_com">
<br>
<div class="showingpost">
<p class='showpost'>
<% post = Post.find(params[:post_id])%>
<%= post.user.name%> <br>
 <u>Posted: </u>
  <% days = ((Time.now - post.created_at) / 86400 ).to_i %> 
      <% hours =  (((Time.now - post.created_at) / 3600) % 24 ).to_i %> 
      <% if days > 1 && hours < 1 %>
      <%= days %> days ago
      <% elsif days ==1 && hours == 1%>
      <%= days %> day
      <%= hours %> hour ago
      <% elsif days == 1 && hours > 1 %>
      <%= days %> day 
      <%= hours %> hours ago
      <% elsif days == 1 && hours < 1 %>
      <%= days %> day ago
      <% elsif days > 1 && hours > 1 %>
      <%= days %> days 
      <%= hours %> hours ago
      <% elsif days < 1 && hours == 1 %>
      <%= hours %> hour ago
      <% elsif days < 1 && hours < 1 %>
      Now
      <% end %><br>
<br>
  <%= post.message %><br><br>
  </p>
  <br>
  <%likes = "#{post.likes.count.to_s}" + " #{post.likes.count ==1 ? 'Like' : 'Likes'}"%>
  <%= button_to "#{likes}", post_likes_path(post), method: :post%> <br>
<%= form_for @comment do |form| %>
  <%= form.label :comment %> <br>
  <%= form.text_area :comment %> <br>
  <%= form.hidden_field :post_id, value: "#{params[:post_id]}" %>

  <%= form.submit "Submit" %>
<% end %> <br>
<%= link_to "Back", :back %>
</div>
</body>
