<h1> Register </h1>

<%= form_with(model: users, local:true) do |form| %>
<%=form.label :email %>
<%= form.text_area :email %>
<%= form.label :password %>
<%= form.text_area :password %>
<%= form.label :name %>
<%= form.text_area :name %>
<%= form.submit "Submit" %>
<%end%>

<p><%= link_to 'Home', users_path %>