<h1> Register </h1>

<%= form_with(model: @user, local:true) do |form| %>
<%= form.label :email %>
<%= form.text_area :email %>
<%= form.label :password %>
<%= form.password_field :password %>
<%= form.label :name %>
<%= form.text_area :name %>
<%= form.submit "Submit" %>
<%end%>

<p><%= link_to 'Home', users_path %>