<br>
<%if @user.avatar.attached?%>
<%= image_tag(@user.avatar, class: "usersimage")%>
<%else%>
<image id="usersimg" src="https://i.pinimg.com/originals/4a/a0/4b/4aa04be7eb9400ae77a62daf3349b8ab.jpg">
<% end%>
<h1><%= @user.name.titleize %>'s profile page</h1>
<h5><%= @user.email%></h5>
<div class="indvposts">
<u><%= @user.name.titleize%>'s posts: </u><br>
<br>
<br>
<% @user.posts.each do |post| %>
<%= post.message %> <br>
      <u> posted</u>: 
      <% days = ((Time.now - post.created_at) / 86400 ).to_i %> 
      <% hours =  (((Time.now - post.created_at) / 3600) % 24 ).to_i %> 
      <% if days > 1 && hours < 1 %>
      <%= days %> days ago
      <% elsif days ==1 && hours == 1%>
      <%= days %> day
      <%= hours %> hour ago
      <% elsif days == 1 && hours > 1 %>
      <%= days %> day 
      <%= hours %> hours ago
      <% elsif days == 1 && hours < 1 %>
      <%= days %> day ago
      <% elsif days > 1 && hours > 1 %>
      <%= days %> days 
      <%= hours %> hours ago
      <% elsif days < 1 && hours == 1 %>
      <%= hours %> hour ago
      <% elsif days < 1 && hours < 1 %>
      Now
      <% end %><br>
			<br>
<% end %> <br>
<br>
</div>
<%= link_to "Back", :back %>